.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
}

.social {
  display: flex;
  gap: 0.625rem;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: capitalize;
}

.links {
  display: flex;
  gap: 1.25rem;
  flex: 1;
  font-size: 1.25rem;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 2rem;
  }
  .links {
    font-size: 1.125rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
  .links {
    justify-content: flex-end;
  }
}
